window#waybar {
  font-family: "JetBrainsMono Nerd Font";
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgba(26, 26, 26, 1);
  font-weight: normal;
  font-size: 10px;
  min-height: 0px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

#workspaces {
  padding-left: 10px;
}

#workspaces button,
#workspaces button.active,
#workspaces button.focused,
#workspaces button:hover {
  color: white;
  opacity: 1;
  background: transparent;
  box-shadow: none;
}

#cava {
  min-width: 100px;
  padding-right: 5px;
  margin-right: 4px;
}

#pulseaudio {
  padding-right: 5px;
  margin-right: 4px;
}

#network {
  padding-right: 5px;
  margin-right: 4px;
}

#bluetooth {
  margin-right: 9px;
}

#upower {
  margin-right: 9px;
}

#tray {
  margin-right: 9px;
}
